<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Extra Date Field for xCore Plugin</label>
    <label lang="nl">Extra Date Field for xCore Plugin</label>
    <label lang="en">Extra Date Field for xCore Plugin</label>

    <version>1.0.1</version>
    <copyright>(c) by dealer4dealer</copyright>
    <license>(c)</license>
    <link>https://www.dealer4dealer.nl</link>
    <author>dealer4dealer</author>
    <compatibility minVersion="5.3.0"/>
</plugin>